html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #353535;
    color: white;
}

.card {
    background-color: #FF7474 !important;
}

.sport-image {
    height: 40px;
}

.image-container {
    height: 100%;
}