body {
  overflow-y: scroll;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

#contenido2 {
  padding-bottom: 70px;
}

.navbar {
  background-color: #FF7474
}
.nav.nav-pills.nav-justified .nav-link.active {
  background-color: #FF7474;
}

.nav.nav-pills.nav-justified .nav-link {
  color: #fff;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 64
}

.alert {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  color: black;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.alert .material-symbols-outlined {
  font-size: 4em;
}

.flex-container {
  display: flex;
}

.left-div {
  flex-basis: 25%;
}

.center-div {
  flex-grow: 1;
  flex-basis: 50%;
  text-align: left;
}

.right-div {
  flex-basis: 25%;
  text-align: right;
  max-width: 20%;
}

.delete-center-div {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.nav.nav-pills.nav-justified .nav-link.active {
  background-color: #FF7474;
}

.nav.nav-pills.nav-justified .nav-link {
  background-color: #9E4545;
  color: #fff;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 64
}

.container-fluid .material-symbols-outlined {
  font-size: 4em;
}


.box {
  width: 50%;
  height: 100px;
  margin: 0 3px;
  border-radius: 10px;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  color: black;
}

.container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}

th,
td {
  padding: 8px;
  text-align: center;
  color: black;
}

th {
  background-color: #9E4545;
  color: #fff;
}

tr.equipo {
  background-color: #D9D9D9;
}

td:first-child {
  text-align: left;
}

#texto {
  margin-left: 25px;
}

#texto p {
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.information {
  margin-left: 10px;
}

label {
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-left: 10px;
}

input,
select {
  margin-left: 10px;
}

.form-select,
.form-control {
  width: 90%;
  max-width: 100%;
}

.button-container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.container-fluid .flex-container {
  color: black;
}