body{
    font-family: 'Poppins', sans-serif;
    background-color: #2E2E2E;
}
.textWhite {
color: white;
}

.border{
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.nav.nav-pills.nav-justified .nav-link.active {
    background-color: #FF7474;
  }

.nav.nav-pills.nav-justified .nav-link {
    background-color: #9E4545;
    color: #fff;
  }