body{
    font-family: 'Poppins', sans-serif;
    background-color: #2E2E2E;
}
.textWhite {
color: white;
}

.border{
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.botonesInfo:hover {
    background-color: #FF7474;
  }

  
  @media only screen and (max-width: 760px) {
    .buttonn{
        width: 20px;
    }
  }

  @media only screen and (min-width: 761px) {
    .buttonn{
        width: 40px;
    }
  }
