body{
    font-family: 'Poppins', sans-serif;
    background-color: #2E2E2E;
}
.textWhite {
color: white;
}

.border{
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}