
.navbar .container-fluid
{
    background-color: #D9D9D9
}

.container-fluid
{
    background-color: #E3D1D1
}

.nav.nav-pills.nav-justified .nav-link.active {
    background-color: #FF7474;
  }

  .nav.nav-pills.nav-justified .nav-link {
    background-color: #9E4545;
    color: #fff;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 64
  }
 