<nav class="navbar fixed-bottom mt-5">
    <div class="container-fluid">
        <a class="nav-link" href="Coach.html">
            <h1 class="m-0"><i class="bi bi-person-fill"></i></h1>
        </a>
        <a class="nav-link"href="Equipos.html">
            <h1 class="m-0"><i class="bi bi-people-fill"></i></h1>
        </a>
        <a class="nav-link" href="BuscarTorneos.html">
            <h1 class="m-0"><i class="bi bi-search"></i></h1>
        </a>
        <a class="nav-link" href="Calendario.html">
            <h1 class="m-0"><i class="bi bi-calendar3"></i></h1>
        </a>
        <a class="nav-link active" aria-current="page" href="Administrar.html">
            <h1 class="m-0"><i class="bi bi-person-fill-gear"></i></h1>
        </a>
    </div>
</nav>    