<nav class="navbar mb-3 fixed-top" style="background-color:#FF7474;">
    <div class="container-fluid">
        <a class="navbar-brand textWhite" href="#"><b style="color: white">DeporT</b></a>
        <div class="d-flex">
            <div class="dropdown">
                <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mi Cuenta
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Modulos/Jugador/index.html">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

