<div class="container p-4">
        <div class="input-group input-group-lg mb-3">
            <div class="input-group-text">
                <div class="me-2" style="display: flex;justify-content: center;align-items: center;">
                    <img src="../../img/buscar.svg" role="button" style="height: 25px;">
                </div>
                <div style="display: flex;justify-content: center;align-items: center;">
                    Buscar
                </div>
            </div>
            <input type="text" class="form-control">
        </div>

        <div class="row text-center mb-3">
            <div class="col-12 d-flex">
                <div style="display: flex;color: white;justify-content: center;align-items: center;">
                    Filtros
                    <img src="../../img/filter.svg" role="button" style="width: 30px;height: 30px;" class="ms-2">
                </div>
                    
                <div class="ms-3">
                    <button class="btn" style="background-color: #FF7474;">
                        <img src="../../img/soccer.svg" role="button" class="buttonn">
                    </button>
                    <button class="btn ms-2" style="background-color: #FF7474;">
                        <img src="../../img/ameri.svg" role="button" class="buttonn">
                    </button>
                    <button class="btn ms-2" style="background-color: #FF7474;">
                        <img src="../../img/tenis.svg" role="button" class="buttonn">
                    </button>
                </div>
                    
            </div>
        </div>
    </div>
